*{
    margin:0;
    padding:0;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
  
    background-color: black;
    display:flex;
    align-items:center;
    justify-content:center;
}

img{
     height:160px;
     width:160px;
    gap:50px;
    border-radius:50%;
}
.choice{
    height:160px;
    width:165px;
    border-radius:50%;


}
h1{
    display:flex;
    align-items:center;
    font-size:50px;
    height:5rem;
    justify-content: center;
    background-color: rgb(37, 28, 92);
    color:white;
}
  
.choices{
   
    width:100%;
    display: flex;
    
    justify-content: center;
    gap:100px;
    padding-top:50px ; 
  
}
.score-board{
    display:flex;
    justify-content: center;
   font-size:2rem;
   gap:3rem;
   margin-top:3rem
}
#user-score,#comp-score{
    font-size:5rem
}
#msg{
    background-color: #081b31;
    color:#fff;
    text-align: center;
    font-size:2rem;
    display:inline;
    padding:20px;
    border-radius: 23px;
}
.msg-container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

}